.container {
  ///background: rgb(2,0,36);
  ///background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-image: url(./assets/img/background.jpg);
  ///background-color:gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  margin: 0;
}

.sourcCode {
  color: grey;
}
